@import '../../styles/functions.scss';

:host {
  display: block;
}

.cfAppHeader {
  align-items: center;
  background: white;
  box-sizing: border-box;
  box-shadow: 0 rem(2) rem(5) 0 var(--color-shadow);
  display: flex;
  height: rem(64);
  padding: 0 rem(16);
  position: relative;
  width: 100%;

  &__start {
    align-items: center;
    display: flex;
    width: 50%;

    &__menuIcon {
      align-items: center;
      display: flex;
      justify-content: center;
    }

    & > * {
      &:first-child {
        margin-right: rem(4);
      }

      margin-right: rem(8);
    }
  }

  &__end {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 50%;

    & > * {
      margin-left: rem(4);
    }
  }
}
