@import '../../styles/functions.scss';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

:host {
  display: block;
}

.cfAppHeader {
  align-items: center;
  background: var(--color-primary);
  box-sizing: border-box;
  box-shadow: 0 rem(2) rem(5) 0 var(--color-shadow);
  color: var(--color-primary-on);
  display: flex;
  height: rem(64);
  padding: 0 rem(20);
  position: relative;
  width: 100%;

  &__start {
    align-items: center;
    display: flex;
    width: 50%;

    &__drawerIcon {
      align-items: center;
      display: flex;
      justify-content: center;

      & > i {
        cursor: pointer;
        font-size: rem(24);
        transition: color var(--transition-hover) ease-in-out;

        &:hover {
          color: var(--color-secondary-light);
        }

        &:active {
          color: var(--color-secondary);
        }
      }
    }

    & > * {
      margin-right: rem(12);
    }
  }

  &__end {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 50%;

    &__menuItem {
      align-items: center;
      display: flex;
      font-size: rem(24);
      height: rem(48);
    }
  }

  &__nav {
    & > ul {
      list-style: none;
      margin: 0;
      padding: 0;
      border: 0;
      font-size: 100%;
      font: inherit;
      vertical-align: baseline;
    }
  }
}
