@import '../../../styles/functions.scss';

:host {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  padding: rem(4);
  overflow: hidden;

  & cf-typography {
    overflow: hidden;
  }
}

:host(.head),
:host(.foot) {
  height: rem(40);
}

:host(.body) {
  height: rem(36);
}

:host(.center) {
  justify-content: center;
}

:host(.right) {
  justify-content: flex-end;
}
