@import '../../../styles/functions.scss';

:host {
  display: flex;
  width: 100%;
}

:host(.head) {
  height: rem(52);
}

:host(.body) {
  height: rem(52);
}

:host(.body.hoverHighlight:hover) {
  background-color: var(--color-bg);
}

:host(.foot) {
  height: rem(52);
}
