dist/
www/
loader/

exports/angular/projects/main/src/lib/directives
exports/react/src/react-component-lib
exports/react/src/components.ts

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
*.tgz

.stencil/
.idea/
.vscode/
.sass-cache/
.versions/
node_modules/
$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env

bundle-analysis.html

.prettierrc
