.cfVirtualScroller {
  background: white;
  display: block;
  overflow: auto;
  width: 100%;

  &__inner {
    position: relative;
    width: 100%;

    & > * {
      position: absolute;
      width: 100%;
    }
  }
}
