@import '../../styles/functions.scss';

:host {
  .reset {
    border: 0;
    line-height: normal;
    margin: 0;
    padding: 0;
    text-transform: none;
    vertical-align: baseline;
    *vertical-align: middle;
  }

  .cfButton {
    @extend .reset;
    border: none;
    border-radius: rem(4);
    box-shadow: 0 rem(2) rem(4) 0 var(--color-shadow);
    box-sizing: border-box;
    cursor: pointer;
    height: rem(48);
    line-height: rem(16);
    min-width: rem(120);
    outline: none;
    padding: rem(16);
    transition: background-color var(--transition-hover) ease-in-out;

    &:disabled {
      cursor: not-allowed;
      opacity: 0.6;
      transition: none;
    }

    &.default {
      background-color: var(--color-default);
      color: var(--color-default-on);

      &:hover {
        background: var(--color-default-light);
      }

      &:active {
        background: var(--color-default-dark);
      }

      &:disabled {
        background-color: var(--default-primary);
      }
    }

    &.primary {
      background-color: var(--color-primary);
      color: var(--color-primary-on);

      &:hover {
        background: var(--color-primary-light);
      }

      &:active {
        background: var(--color-primary-dark);
      }

      &:disabled {
        background-color: var(--color-primary);
      }
    }

    &.secondary {
      background-color: var(--color-secondary);
      color: var(--color-secondary-on);

      &:hover {
        background: var(--color-secondary-light);
      }

      &:active {
        background: var(--color-secondary-dark);
      }

      &:disabled {
        background-color: var(--color-secondary);
      }
    }

    &.subtle {
      background-color: white;
      border: rem(1) solid var(--color-primary);
      color: var(--color-default);

      &:hover {
        border: rem(1) solid var(--color-primary-light);
        background: var(--color-primary-light);
        color: var(--color-primary-on);
      }

      &:active {
        border: rem(1) solid var(--color-primary-dark);
        background: var(--color-primary-dark);
        color: var(--color-primary-on);
      }

      &:disabled {
        border: rem(1) solid var(--color-primary);
        background-color: white;
        color: var(--color-default);
      }
    }

    &.info {
      background-color: var(--color-info);
      color: var(--color-info-on);

      &:hover {
        background: var(--color-info-light);
      }

      &:active {
        background: var(--color-info-dark);
      }

      &:disabled {
        background-color: var(--color-info);
      }
    }

    &.success {
      background-color: var(--color-success);
      color: var(--color-success-on);

      &:hover {
        background: var(--color-success-light);
      }

      &:active {
        background: var(--color-success-dark);
      }

      &:disabled {
        background-color: var(--color-success);
      }
    }

    &.warning {
      background-color: var(--color-warning);
      color: var(--color-warning-on);

      &:hover {
        background: var(--color-warning-light);
      }

      &:active {
        background: var(--color-warning-dark);
      }

      &:disabled {
        background-color: var(--color-warning);
      }
    }

    &.error {
      background-color: var(--color-error);
      color: var(--color-error-on);

      &:hover {
        background: var(--color-error-light);
      }

      &:active {
        background: var(--color-error-dark);
      }

      &:disabled {
        background-color: var(--color-error);
      }
    }
  }
}
