@import '../../styles/functions.scss';

:host {
  display: inline-block;
}

.cfLink {
  color: var(--color-info);
  text-decoration: none;

  &:hover {
    color: var(--color-info-light);
    cursor: pointer;
    text-decoration: underline;
  }

  &:active {
    color: var(--color-info-dark);
  }
}
