:host(.g0) {
  padding: rem(0);
}

:host(.g4) {
  padding: rem(4);
}

:host(.g8) {
  padding: rem(8);
}

:host(.g12) {
  padding: rem(12);
}

:host(.g16) {
  padding: rem(16);
}

:host(.g20) {
  padding: rem(20);
}

:host(.g24) {
  padding: rem(24);
}

:host(.g28) {
  padding: rem(28);
}

:host(.g32) {
  padding: rem(32);
}
