@import '../../styles/functions.scss';

.cfNotification {
  bottom: rem(40);
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  right: rem(20);

  &__messageContainer {
    position: relative;
  }
}
