@import '../../styles/functions.scss';

.subtitle1 {
  font-family: var(--font-family-primary);
  font-size: rem(16);
  line-height: rem(16);
  font-weight: normal;
  letter-spacing: rem(0.15);
}

:host {
  display: flex;
  flex-direction: column;

  & > label {
    align-items: center;
    display: flex;
    height: rem(32);
    margin-bottom: rem(4);
  }

  & > input {
    @extend .subtitle1;
    border: rem(1) solid var(--color-bg-dark);
    border-radius: rem(4);
    box-sizing: border-box;
    height: rem(44);
    margin-bottom: rem(8);
    outline: none;
    padding: rem(3) rem(15);
    transition: border-color var(--transition-hover) ease-in-out;

    &:hover {
      border: rem(2) solid var(--color-primary-light);
      padding: rem(2) rem(14);
    }

    &:focus {
      border: rem(2) solid var(--color-primary);
      box-shadow: 0 rem(0) rem(2) 0 var(--color-primary-light);
      padding: rem(2) rem(14);
    }

    &.warning {
      border: rem(2) solid var(--color-warning);
      box-shadow: 0 rem(0) rem(2) 0 var(--color-warning-light);
      padding: rem(2) rem(14);
    }

    &.error {
      border: rem(2) solid var(--color-error);
      box-shadow: 0 rem(0) rem(2) 0 var(--color-error-light);
      padding: rem(2) rem(14);
    }
  }
}
