@import '../../styles/functions.scss';

:host {
  background-color: white;
  border-radius: rem(4);
  display: flex;
  flex-direction: column;
}

$primary-border: rem(0.5) solid var(--color-primary);
$secondary-border: rem(0.5) solid var(--color-secondary);
$default-border: rem(0.5) solid var(--color-default);
$info-border: rem(0.5) solid var(--color-info);
$success-border: rem(0.5) solid var(--color-success);
$warning-border: rem(0.5) solid var(--color-warning);
$error-border: rem(0.5) solid var(--color-error);

::slotted(cf-tab) {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: rem(48);
  justify-content: center;
  flex-grow: 1;
  flex-basis: 0;
}

::slotted(cf-tab.primary:first-child) {
  border-left: $primary-border;
}

::slotted(cf-tab.primary) {
  border-bottom: $primary-border;
  border-top: $primary-border;
  border-right: $primary-border;
}

::slotted(cf-tab.secondary:first-child) {
  border-left: $secondary-border;
}

::slotted(cf-tab.secondary) {
  border-bottom: $secondary-border;
  border-top: $secondary-border;
  border-right: $secondary-border;
}

::slotted(cf-tab.default:first-child) {
  border-left: $default-border;
}

::slotted(cf-tab.default) {
  border-bottom: $default-border;
  border-top: $default-border;
  border-right: $default-border;
}

::slotted(cf-tab.info:first-child) {
  border-left: $info-border;
}

::slotted(cf-tab.info) {
  border-bottom: $info-border;
  border-top: $info-border;
  border-right: $info-border;
}

::slotted(cf-tab.success:first-child) {
  border-left: $success-border;
}

::slotted(cf-tab.success) {
  border-bottom: $success-border;
  border-top: $success-border;
  border-right: $success-border;
}

::slotted(cf-tab.warning:first-child) {
  border-left: $warning-border;
}

::slotted(cf-tab.warning) {
  border-bottom: $warning-border;
  border-top: $warning-border;
  border-right: $warning-border;
}

::slotted(cf-tab.error:first-child) {
  border-left: $error-border;
}

::slotted(cf-tab.error) {
  border-bottom: $error-border;
  border-top: $error-border;
  border-right: $error-border;
}

::slotted(cf-tab.active) {
  border-bottom-width: rem(4);
}

.tabs {
  &__container {
    display: flex;
    flex-direction: row;
  }

  &__content {
    border-radius: 0 0 rem(4) rem(4);
    box-shadow: 0 rem(2) rem(4) 0 var(--color-shadow);
    padding: rem(16);
  }
}
