@import '../../../styles/functions.scss';

:host {
  display: block;
}

.cfAppHeaderMenu {
  & > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  &__menuItem {
    background: inherit;
    border-radius: rem(4);
    display: flex;
    flex-direction: column;
    height: rem(40);
    justify-content: center;
    padding-left: rem(8);
    transition: background-color var(--transition-hover) ease-in-out;

    &:not(:last-child) {
      margin-bottom: rem(8);
    }

    &.active {
      background: linear-gradient(to right, var(--color-primary), white);
    }

    &:not(.active):hover {
      background: var(--color-bg);
    }

    &__link {
      &.active {
        color: var(--color-primary-on) !important;
      }
    }
  }
}
