@import '../../styles/functions.scss';

:host {
  display: block;
}

.overlay {
  background: var(--color-bg-dark);
  height: 100vh;
  left: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  transition: visibility var(--transition-hover) ease-in-out, opacity var(--transition-toggle) ease-in-out;
  visibility: hidden;
  width: 100vw;

  &.visible {
    visibility: visible;
    opacity: 0.5;
  }
}

.cfSideDrawer {
  background: var(--color-bg-light);
  box-shadow: rem(12) 0 rem(8) rem(-8) var(--color-shadow);
  height: 100%;
  padding: rem(16);
  position: fixed;
  top: 0;
  transition: transform ease-out 0.3s;
  width: rem(300);
  bottom: 0;
  right: 0;
  top: 0;
  z-index: 10;

  &.left {
    left: 0;
    transform: translateX(-105%);

    &.visible {
      transform: translateX(0%);
    }
  }

  &.right {
    right: 0;

    transform: translateX(105%);

    &.visible {
      transform: translateX(0%);
    }
  }

  &__title {
    display: flex;
    height: rem(48);
    width: 100%;

    & > * {
      &:first-child {
        align-items: center;
        display: flex;
        width: 50%;
      }

      &:last-child {
        align-items: center;
        display: flex;
        justify-content: flex-end;
        width: 50%;
      }
    }
  }

  &__drawerContent {
    width: 100%;
  }
}
