@import '../../styles/functions.scss';
@import '../../styles/scroll.scss';

$p-font: var(--font-family-primary);
$s-font: var(--font-family-secondary);
$border: rem(1) solid var(--color-bg-dark);

.align {
  &.left {
    justify-content: start;
  }

  &.center {
    justify-content: center;
  }

  &.right {
    justify-content: flex-end;
  }
}

:host {
  display: block;
  height: 100%;
  overflow: hidden;
}

table,
thead,
tbody,
tfoot,
tr,
th,
td {
  box-sizing: border-box;
  display: flex;
}

thead,
tbody,
tfoot {
  overflow-y: scroll;
}

thead,
tbody {
  border-bottom: $border;
}

thead,
tfoot {
  min-height: 60px;
}

table,
tbody {
  flex-direction: column;
}

table {
  border: $border;
  border-radius: rem(4);
  max-height: 100%;
}

tr {
  width: 100%;

  &.body {
    min-height: rem(52);

    &:hover {
      background-color: var(--color-bg);
    }
  }
}

th,
td {
  @extend .align;
  align-items: center;
  padding: rem(4) rem(12);

  &:first-child {
    padding-left: rem(20);
  }

  &:last-child {
    padding-right: rem(20);
  }
}
