@import '../../styles/functions.scss';

:host {
  background: var(--color-secondary);
  color: var(--color-secondary-on);
  display: block;
  padding: rem(8) rem(16);
}

:host(.fixed) {
  bottom: 0;
  left: 0;
  position: fixed;
  width: 100vw;
}
