@import '../../styles/functions.scss';
@import '../../styles/gutterBottom.scss';

:host {
  display: block;
}

.reset {
  margin: 0;
  padding: 0;
  border: 0;
}

.h1 {
  @extend .reset;
  font-family: var(--font-family-primary);
  font-size: rem(96);
  line-height: rem(112);
  font-weight: lighter;
  letter-spacing: rem(-1.5);
}

.h2 {
  @extend .reset;
  font-family: var(--font-family-primary);
  font-size: rem(60);
  line-height: rem(72);
  font-weight: lighter;
  letter-spacing: rem(-0.5);
}

.h3 {
  @extend .reset;
  font-family: var(--font-family-primary);
  font-size: rem(48);
  line-height: rem(60);
  font-weight: normal;
  letter-spacing: rem(0);
}

.h4 {
  @extend .reset;
  font-family: var(--font-family-primary);
  font-size: rem(36);
  line-height: rem(48);
  font-weight: normal;
  letter-spacing: rem(0.25);
}

.h5 {
  @extend .reset;
  font-family: var(--font-family-primary);
  font-size: rem(24);
  line-height: rem(36);
  font-weight: normal;
  letter-spacing: rem(0);
}

.h6 {
  @extend .reset;
  font-family: var(--font-family-primary);
  font-size: rem(20);
  line-height: rem(32);
  font-weight: 500;
  letter-spacing: rem(0.15);
}

.subtitle1 {
  @extend .reset;
  font-family: var(--font-family-primary);
  font-size: rem(16);
  line-height: rem(16);
  font-weight: normal;
  letter-spacing: rem(0.15);
}

.subtitle2 {
  @extend .reset;
  font-family: var(--font-family-primary);
  font-size: rem(14);
  line-height: rem(16);
  font-weight: 500;
  letter-spacing: rem(0.1);
}

.body1 {
  @extend .reset;
  font-family: var(--font-family-secondary);
  font-size: rem(16);
  font-weight: normal;
  letter-spacing: rem(0.5);
  line-height: rem(20);
}

.body2 {
  @extend .reset;
  font-family: var(--font-family-secondary);
  font-size: rem(14);
  font-weight: normal;
  letter-spacing: rem(0.25);
  line-height: rem(16);
}

.p {
  @extend .reset;
  font-family: var(--font-family-secondary);
  font-size: rem(16);
  line-height: rem(24);
  margin-bottom: rem(20);
}

.caption {
  @extend .reset;
  display: block;
  font-family: var(--font-family-secondary);
  font-size: rem(12);
  font-weight: normal;
  letter-spacing: rem(0.4);
  line-height: rem(16);
}

.button {
  @extend .reset;
  display: block;
  font-family: var(--font-family-secondary);
  font-weight: 500;
  font-size: rem(14);
  letter-spacing: rem(1.25);
  line-height: rem(16);
  text-transform: uppercase;
}
