@import '../../styles/functions.scss';
@import '~@fortawesome/fontawesome-free/css/all.min.css';

:host {
  display: inline-block;
}

.cfIconButton {
  border: none;
  border-radius: 50%;
  box-shadow: 0 rem(2) rem(4) 0 var(--color-shadow);
  box-sizing: border-box;
  cursor: pointer;
  font-size: rem(24);
  height: rem(48);
  outline: none;
  transition: background-color var(--transition-hover) ease-in-out, color var(--transition-hover) ease-in-out;
  width: rem(48);

  &.default {
    background: var(--color-default);
    color: var(--color-default-on);

    &:hover {
      background: var(--color-default-light);
    }

    &:active {
      background: var(--color-default-dark);
    }
  }

  &.primary {
    background: var(--color-primary);
    color: var(--color-primary-on);

    &:hover {
      background: var(--color-primary-light);
    }

    &:active {
      background: var(--color-primary-dark);
    }
  }

  &.secondary {
    background: var(--color-secondary);
    color: var(--color-secondary-on);

    &:hover {
      background: var(--color-secondary-light);
    }

    &:active {
      background: var(--color-secondary-dark);
    }
  }

  &.subtle {
    background-color: white;
    border: rem(1) solid var(--color-primary);
    color: var(--color-default);

    &:hover {
      border: rem(1) solid var(--color-primary-light);
      background: var(--color-primary-light);
      color: var(--color-primary-on);
    }

    &:active {
      border: rem(1) solid var(--color-primary-dark);
      background: var(--color-primary-dark);
      color: var(--color-primary-on);
    }

    &:disabled {
      border: rem(1) solid var(--color-primary);
      background-color: white;
      color: var(--color-default);
    }
  }

  &.info {
    background: var(--color-info);
    color: var(--color-info-on);

    &:hover {
      background: var(--color-info-light);
    }

    &:active {
      background: var(--color-info-dark);
    }
  }

  &.success {
    background: var(--color-success);
    color: var(--color-success-on);

    &:hover {
      background: var(--color-success-light);
    }

    &:active {
      background: var(--color-success-dark);
    }
  }

  &.warning {
    background: var(--color-warning);
    color: var(--color-warning-on);

    &:hover {
      background: var(--color-warning-light);
    }

    &:active {
      background: var(--color-warning-dark);
    }
  }

  &.error {
    background: var(--color-error);
    color: var(--color-error-on);

    &:hover {
      background: var(--color-error-light);
    }

    &:active {
      background: var(--color-error-dark);
    }
  }
}
